header{
    background-color: rgb(229, 200, 163);
}
.main{
    position: relative;
    background-color: rgb(217, 218, 213);
}


.list{
    position: absolute;
    bottom: 42%;
    left:70%;
    font-size:xx-large;
    
}
.prize{
    background-color: rgb(102, 140, 105);
}

.btn{
    position: absolute;
    right: 50%;
}
/* hover */
.btn:hover{
    background-color: rgb(252, 79, 21);
    font-size: large;
}